h1 {
    color:dodgerblue; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color:whitesmoke;
    text-align: center;
    background-color: orangered;
}
h3 {
    color: purple;
    justify-content: right;
}
h4 {
    color:teal;
    text-align: justify;
}

.header {
    display: flex;
    justify-content: space-between;
}

.grid {
    justify-content: space-evenly;
}

.footer {
    justify-content: end;
}